<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Resto{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('build/images/logo.png') }}">

        <!- ============= Librairie ================= ->
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://thebfsclub.co.uk/assets/vendor/glightbox/css/glightbox.min.css">

        {% block styles %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body id="{% block body_id %}interface{% endblock %}">
        {% block body %}{% endblock %}

        <script src="https://thebfsclub.co.uk/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    </body>
</html>
