{% extends 'base/default.html.twig' %}

{% block body_id 'security' %}

{% block body %}
    <div class="{% block main_class %}security{% endblock %}">
        {% block security %}{% endblock %}
    </div>
{% endblock %}